body {
	font-family: Lexend,Arial,Tahoma,Verdana,sans-serif;
	background-color: #000;
	color: #f3f3f3;
}
p {
	/*margin: 2;*/
	font-size: 12px;
	text-align:center;
}
h1 {
	color: #ff7f00;
	font-size: 24px;
	text-align:center;
}
h2 {
	color: #ff7f00;
	font-size: 14px;
	text-align:center;
}
table {
	border-spacing: 1px;
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
}
td {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
	font-weight: normal;
}
th {
	padding-left: 4px;
	padding-right: 4px;
	white-space: nowrap;
	font-weight: bolder;
	background-color: #000000;
	color: #ff7f00;
}
.r1 {
	background-color: #434343;
}
.r0 {
	background-color: #323232;
}
.fdiv {
	max-width: 80%;
	margin: auto;
	justify-content: center;
}